* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: var(--kr-general-font);
}

body {
  color: var(--kr-general-text);
}

.kr-dark body {
  color: var(--kr-dark-general-text);
}

.container {
  width: 100%;
  color: var(--kr-general-text);
}

.kr-dark .container {
  color: var(--kr-dark-general-text);
}

.calendar {
  background-color: var(--kr-general-background);
}

.kr-dark .calendar {
  background-color: var(--kr-dark-general-background);
}

.month {
  width: 100%;
  height: 10rem;
  background-color: #dc7676;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  text-align: center;
}

.month i {
  font-size: 2.5rem;
  cursor: pointer;
}

.month h1 {
  font-size: 3rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-bottom: 1rem;
}

.month p {
  font-size: 1.6rem;
}

.weekdays {
  width: 100%;
  height: 5rem;
  padding: 0 0.4rem;
  display: flex;
  align-items: center;
}

.weekdays div {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  width: calc(38rem / 7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.days {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0.2rem;
}

.days div {
  font-size: 1.4rem;
  margin: 0.3rem;
  width: calc(33rem / 7);
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s;
}

.days div:hover:not(.today) {
  background-color: rgba(135, 135, 135, 0.5);
  border: 0.2rem solid #777;
  cursor: pointer;
}

.prev-date,
.next-date {
  opacity: 0.5;
}

.today {
  background-color: #dc7676;
}

.more {
  font-size: 12pt;
  margin: 7px;
  margin-top: 15px;
}

.more p {
  margin: 8px;
}