/**
 * @license
 * Copyright 2020 Mutlu Can YILMAZ
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in
 * all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
 * THE SOFTWARE.
 */

.kr-placeholder {
    transition: opacity, backdrop-filter;
    transition-duration: var(--kr-animation-duration);
    transition-timing-function: linear;
}

.kr-placeholder.kr-show {
    /*noinspection CssUnresolvedCustomProperty*/
    backdrop-filter: blur(var(--kr-blur));
}

 /**
  * Toast
  */


@keyframes toast {
    0% {
        margin-bottom: -37px;
        opacity: 0;
    }
}

.kr-toast {
    transition: margin-bottom, opacity;
    transition-timing-function: ease;
    transition-duration: var(--kr-animation-duration);
    animation-name: toast;
    animation-duration: var(--kr-animation-duration);
    animation-timing-function: ease;
}

 /**
  * Dialog
  */

.kr-dialog {
    background: linear-gradient(rgba(250, 250, 250, .85) 100px, var(--kr-app-color) 700px);
    border: 1px solid var(--kr-app-color-dark);
    border-radius: var(--kr-border-radius);
    box-shadow: var(--kr-window-shadow);
    visibility: hidden;
    transition: opacity, transform, visibility;
    transition-timing-function: cubic-bezier(0,0.6,0,1);
    transition-duration: var(--kr-animation-duration);
    transform: 
        translateX(-50%) 
        translateY(-50%)
        scale(.8); 
    pointer-events: none;
}

.kr-dark .kr-dialog {
    background: linear-gradient(rgba(30, 30, 30, .85) 100px, var(--kr-app-color) 700px);
}

.kr-dialog.kr-show {
    transform: translate(-50%, -50%);
}


 /**
  * Button
  */

.kr-ui-style button,
input[type=button],
input[type=submit],
input[type=reset] {
    border-radius: var(--kr-border-radius);
    box-shadow: 0 1px 1px rgba(20, 20, 20, .2);
}


.kr-button-group button {
    border-radius: 0;
}

.kr-button-group button:first-child {
    border-top-left-radius: var(--kr-border-radius);
    border-bottom-left-radius: var(--kr-border-radius);
}

.kr-button-group button:last-child {
    border-top-right-radius: var(--kr-border-radius);
    border-bottom-right-radius: var(--kr-border-radius);
}

 /**
  * Switch
  */

.kr-switch {
    border-radius: var(--kr-border-radius);
    box-shadow: inset 0 2px 2px rgba(0, 0, 0, .1);
    transition: background-color var(--kr-animation-duration) ease;
}

.kr-switch::after {
    border-radius: var(--kr-border-radius);
    box-shadow: 0 2px 2px rgba(20, 20, 20, .3);
    transition: transform var(--kr-animation-duration) ease;
}


 /**
  * Tabs
  */

.kr-tabs {
    border-radius: var(--kr-border-radius);
}

.kr-tabs::before {
    border-radius: var(--kr-border-radius);
    transition: transform var(--kr-animation-duration);
    visibility: var(--kr-psudo-tab-visibility);
}

.kr-tab {
    border-radius: var(--kr-border-radius);
}

.kr-tab.kr-selected {
    transition: border 0ms, background-color 0ms;
    transition-delay: var(--kr-animation-duration);
}

.kr-tab-content {
    transition: transform, visibility, opacity;
    transition-duration: var(--kr-animation-duration);

}

 /**
  * Checkbox
  */

.kr-checkbox > input[type=checkbox] {
    border-radius: var(--kr-border-radius);
}

.kr-checkbox > input[type=checkbox]:checked ~ span::before {
    border-radius: var(--kr-border-radius);
}

.kr-checkbox > input[type=checkbox]:hover ~ span::before {
    color: var(--kr-app-color);

}

 /**
  * Color Picker
  */

.kr-ui-style input[type=color] {
    border-radius: var(--kr-border-radius);
}

/**
  * Date and Time
  */

.kr-ui-style input[type=date] {
    border-radius: var(--kr-border-radius);
}

.kr-ui-style input[type=time] {
    border-radius: var(--kr-border-radius);
}


.kr-ui-style input[type=datetime-local] {
    border-radius: var(--kr-border-radius);
}

/**
  * File
  */

.kr-ui-style input[type=file]::-webkit-file-upload-button {
    border-radius: var(--kr-border-radius);
}

/**
  * Text
  */

.kr-ui-style input[type=text],
.kr-ui-style input[type=tel],
.kr-ui-style input[type=url],
.kr-ui-style input[type=email],
.kr-ui-style input[type=password],
.kr-ui-style input[type=search],
.kr-ui-style input[type=number] {
    border-radius: var(--kr-border-radius);
}

/**
  * Range
  */

.kr-ui-style input[type=range]::-webkit-slider-runnable-track {
    background: rgba(100, 100, 100, .5);
    border: 1px solid var(--kr-app-color-dark);
    border-radius: var(--kr-border-radius);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
    width: 28%;
    height: 10px;
    cursor: pointer;
}

.kr-ui-style input[type=range]::-webkit-slider-thumb {
    box-shadow: 0 1px 2px rgba(20, 20, 20, .3);
}

/**
  * Progress
  */


.kr-ui-style progress[value]::-webkit-progress-bar {
    border-radius: var(--kr-border-radius);
}

.kr-ui-style progress[value]::-webkit-progress-value {
    transition: width var(--kr-animation-duration) ease;
}


/**
  * Select
  */

.kr-ui-style select {
    border-radius: var(--kr-border-radius);
    box-shadow: 0 1px 1px rgba(20, 20, 20, .2);
}

.kr-ui-style select:active {
    box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
    color: transparent;
    text-shadow: 0 1px var(--kr-general-text);
}


/**
  * Text Area
  */

.kr-ui-style textarea {
    border-radius: var(--kr-border-radius);
}

.kr-ui-style fieldset {
    border-radius: var(--kr-border-radius);
}