/**
 * @license
 * Copyright 2022 Mutlu Can YILMAZ
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in
 * all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
 * THE SOFTWARE.
 */

@keyframes windowOpen {
    0% {
        left: calc(var(--sourceX) - var(--width) / 2);
        top: calc(var(--sourceY) - var(--height) / 2);
        transform: /* translate(calc(var(--sourceX) - var(--width) / 2), calc(var(--sourceY) - var(--height) / 2)) */ scale(.1);
        opacity: 0;
    }
}


.kr-app.ready {
    animation-name: windowOpen;
    animation-duration: var(--kr-animation-duration);
    animation-timing-function: cubic-bezier(0, 0.6, 0, 1);
    transition: opacity, transform, top, left, right, width, height;
    transition-timing-function: cubic-bezier(0, 0.6, 0, 1);
    transition-duration: var(--kr-animation-duration);
}

.kr-app webview {
    transition: opacity, visibility;
    transition-timing-function: ease-in-out;
    transition-duration: calc(var(--kr-animation-duration) / 2);
}

.kr-app .kr-w {
    transition: opacity, visibility;
    transition-timing-function: ease-in-out;
    transition-duration: calc(var(--kr-animation-duration) / 2);
}

.kr-app .kr-splash-icon {
    transition: opacity, visibility;
    transition-timing-function: ease-in-out;
    transition-duration: calc(var(--kr-animation-duration) / 2);
}

.kr-app::before {
    transition: opacity;
    transition-duration: var(--kr-animation-duration);
}

.kr-app::after {
    transition: opacity;
    transition-duration: var(--kr-animation-duration);
}

.kr-app.closed {
    transition: opacity, transform;
    transition-duration: var(--kr-animation-duration);
    transform: /* translateX(var(--translateX)) translateY(var(--translateY)) */ scale(.8);
}

.kr-app.maximized {
    transform: translateX(0) translateY(0) scale(1);
    transition-delay: 100ms;
}

.kr-app.maximized.closed {
    transform: translateX(0) translateY(0) scale(.8);
}

.kr-app.closed::before {
    opacity: 0;
    transition-duration: calc(var(--kr-animation-duration) / 2);
}

.kr-app.closed::after {
    opacity: 1;
    transition-duration: calc(var(--kr-animation-duration) / 2);
}

#move-indicator {
    transition: width, height, opacity, transform;
    transition-duration: var(--kr-animation-duration);
    opacity: 0;
    transform: scale(1.2);
}

.move-t, .move-tl, .move-tr, .move-l, .move-r, .move-bl, .move-br, .move-b {
    opacity: 1 !important;
    transform: scale(1) !important;
}

#new-column {
    transition: opacity;
    transition-duration: var(--kr-animation-duration);
}

@keyframes tabOpen {
    0% {
        max-width: 0;
        flex-grow: 0;
        transform: translateY(37px);
    }

    50% {
        transform: translateY(37px);
    }

    100% {
        transform: translateY(0);
    }
}

.kr-w-tab {
    animation-name: tabOpen;
    animation-duration: var(--kr-animation-duration);
    animation-timing-function: cubic-bezier(0, 0.6, 0, 1);
    animation-fill-mode: both;
}

@keyframes tabClose {
    0% {
        max-width: 350px;
        flex-grow: 1;
        transform: translateY(0);
    }

    50% {
        max-width: 350px;
        flex-grow: 1;
        transform: translateY(37px);
    }

    100% {
        max-width: 0;
        flex-grow: 0;
        transform: translateY(37px);
    }
}

.kr-w-tab.closed {
    animation-name: tabClose;
    animation-duration: var(--kr-animation-duration);
    animation-timing-function: linear;
    animation-fill-mode: both;
}

.kr-w-dialog {
    transition: opacity, transform, visibility;
    transition-timing-function: cubic-bezier(0, 0.6, 0, 1);
    transition-duration: var(--kr-animation-duration);
    opacity: 1;
}

.kr-w-dialog.hidden {
    opacity: 0;
    transition-duration: var(--kr-animation-duration);
    transform: translateX(-50%) translateY(-50%) scale(.8);
}

.placeholder {
    transition: opacity, backdrop-filter;
    transition-timing-function: cubic-bezier(0, 0.6, 0, 1);
    transition-duration: var(--kr-animation-duration);
}

@keyframes indeterminateLoad {
    0% {
        transform: translateX(-150%);
    }

    100% {
        transform: translateX(300%);
    }
}

.kr-app webview.loading::after {
    animation-name: indeterminateLoad;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}

.kr-app webview.loading::after,
.kr-app webview.loading::before {
    transition: opacity;
    transition-timing-function: cubic-bezier(0, 0.6, 0, 1);
    transition-duration: var(--kr-animation-duration);
}

.kr-w-nav-forward {
    transition: opacity, margin-left;
    transition-timing-function: cubic-bezier(0, 0.6, 0, 1);
    transition-duration: var(--kr-animation-duration);
}

.kr-w h1,
.kr-w-address,
.kr-w-tab-title,
.kr-w-tab-address {
    transition: opacity;
    transition-delay: calc(var(--kr-animation-duration) / 2);
    transition-timing-function: linear;
    transition-duration: calc(var(--kr-animation-duration) / 2);
}

.kr-w-tab {
    transition: min-width;
    transition-timing-function: cubic-bezier(0, 0.6, 0, 1);
    transition-duration: var(--kr-animation-duration);
}
